body {
    margin: 0;

    display: flex;
    flex-direction: column;
}

.library_image {
    position: fixed;
    width: 100%;
    z-index: -1;
}

.photo_links {
    margin-left: 10px;
    /* align-self: flex-start; */
    padding-top: 10px;
    padding-bottom: 10px;

    position:fixed;
    top: 95vh;
}

.photo_links,
.photo_links>a {
    color: black;
    /* text-shadow: 2px 2px black; */
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.page_container {
    display: grid;
    grid-template-columns: 4fr 0fr;
}
.form_shown {
    /* grid-template-columns: 4fr 1fr; */
}

.shelf_container {
    /* background-color: brown; */
    height: 90vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-wrap: nowrap;
    /* flex-shrink: 1; */
}

.form_container {
    position: fixed;
    left: 100%;
}

.book_form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;

    /* position: fixed; */
}

.hidden_form {
    display: none;
}

.read_before_container {
    display: flex;
}

input {
    margin-bottom: 10px;
}

input[type="button"] {
    margin-top: 50px;
}

.new_book_button {
    margin-top: 5px;
    margin-left: 5px;
    align-self: flex-start;

    position: fixed;
}

input[type="button"],
.new_book_button {
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(0, 136, 255);
    color: white;
    padding: 1em;
}
input[type="button"]:hover,
.new_book_button:hover {
    background-color: rgb(0, 195, 255);
}
input[type="button"]:active,
.new_book_button:active {
    background-color: rgb(0, 247, 255);
}

.hide_book_button {
    background-color: rgb(223, 17, 17);
}
.hide_book_button:hover {
    background-color: rgb(253, 39, 39);
}
.hide_book_button:active {
    background-color: rgb(248, 77, 77);
}

.table_container {
    display: flex;
    justify-content: center;

    justify-self: stretch;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

.remove_button {
    background: none;
    border: none;
}
.remove_button:hover {
    color: red;
    text-shadow: 0px 0px 2px rgb(243, 115, 115);
}
